.grid-container {
    display: grid;
    grid-template-columns: 20% 80% ;
    
    padding: 0.5%;
}

.grid-child1{
    background-color: rgb(243, 188, 107);
}

.grid-child2{
    margin-left: 1%;
    background-color: rgb(243, 188, 107);
    
    
}

.grid-child2 .logouts{
    width: 32px;
    height: 32px;
   margin-top: 3%;
   margin-left: 50%;
}

.log .logouts{
    margin-left: 95%;
    margin-top: 1px;
}

.grid-child2 .addi{
    margin-top: 20px;
}

.adicionar{
    width: 32px;
    height: 32px;
    margin-top: 3%;

}

.respostas{
    width: 32px;
    height: 32px;
    margin-top: 3%;
}
.projetos{
    background-color: rgb(243, 188, 107);
    width: 320px;
    height: 360px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    border-radius: 8px;

}

#up{
    border: 2px;
    background-color: #e7e7e7;
    height: 160px;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border-style:double;

}
#pp{
    margin-left: 20px;
}

h1{
    text-align:center;
     
}

div ul {
    display:inline-block;
}

h3{
    margin-left: 20px;
}

.bar .head {
    display:inline-block;
}

.butoes {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 1%;
    
}

/* Style all compunents in your box */
.butao{
    text-align: center;
    height: 350px;
   
}
.butao .del{
    width: 30px;
    height: 30px;
}
